<!-- Modal -->

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Запись на прием</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputMsisdn" class="col-sm-2 control-label">Телефон:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" id="msisdn" data-mask=""
                                       data-inputmask="'mask': '(99) 999-999-99-99'" placeholder="(38) 067-359-42-88"
                                       value="{{ msisdn|default('') }}"/>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Имя:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" id="clientName"
                                       placeholder="Имя Клиента" value="{{ clientName|default('') }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectGender" class="col-sm-2 control-label">Пол:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-venus-mars"></i>
                                </div>
                                <select class="form-control" id="gender">
                                        {% if "female" == gender|default(0) %}
                                            <option selected value="female">Женский</option>
                                            <option value="male">Мужской</option>
                                        {% else %}
                                            <option value="female">Женский</option>
                                            <option selected value="male">Мужской</option>
                                        {% endif %}
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectServiceId" class="col-sm-2 control-label">Услуга:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-plus-circle"></i>
                                </div>
                                <select class="form-control" id="serviceId">
                                    {% for service in services %}
                                        {% if service.id == serviceId|default(0) %}
                                            <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% else %}
                                            <option selected value="{{ service.id }}">{{ service.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectDirectionId" class="col-sm-2 control-label">Источник:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                                <select class="form-control" id="directionId">
                                    {% for direction in directions %}
                                        {% if direction.id == directionId|default(0) %}
                                            <option selected value="{{ direction.id }}">{{ direction.name }}</option>
                                        {% else %}
                                            <option value="{{ direction.id }}">{{ direction.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectOfficeId" class="col-sm-2 control-label">Офис:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-building"></i>
                                </div>
                                <select class="form-control" id="officeId">
                                    {% for office in offices %}
                                        {% if office.id == officeId|default(0) %}
                                            <option selected value="{{ office.id }}">{{ office.name }}</option>
                                        {% else %}
                                            <option value="{{ office.id }}">{{ office.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputDate" class="col-sm-2 control-label">Дата:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input id="date" class="form-control pull-right active" type="text"
                                       data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="{{ "now"|date("d/m/Y") }}"
                                       value="{{ date|default('') }}"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTime" class="col-sm-2 control-label">Время:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input id="time" class="form-control pull-right active" type="text" data-inputmask="'alias': 'hh/mm'"
                                       data-mask placeholder="{{ "now"|date("H:i") }}"
                                       value="{{ time|default('') }}"
                                />

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDuration" class="col-sm-2 control-label">Прием:</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                {% for i in 1..4 %}
                                    {% if (duration is defined) and duration==(i*30) %}
                                        <label class="checkbox-inline"><input name="duration" id="duration" type="radio" checked="checked" value="{{ (i*30) }}" />{{ (i*30) }} мин</label>
                                    {% elseif i==2 %}
                                        <label class="checkbox-inline"><input name="duration" id="duration" type="radio" checked="checked" value="{{ (i*30) }}" />{{ (i*30) }} мин</label>
                                    {% else %}
                                        <label class="checkbox-inline"><input name="duration" id="duration" type="radio" value="{{ (i*30) }}" />{{ (i*30) }} мин</label>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
//                        $(function () {
//
//                            $('#reservationtime').datetimepicker();
//                        });
                    </script>

                    <div class="form-group">
                        <label for="textareaDescription" class="col-sm-2 control-label">Заметка:</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" id="description">{{ description|default('') }}</textarea>
                        </div>
                    </div>

                    <input type="hidden" id="appId" value="{{ appId|default('') }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveButton">Сохранить</button>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        jQuery.appointment.init({{ appId|default('false') }});
    });
</script>
