{% extends 'OrtofitBackOfficeBundle:Layout:layout.html.twig' %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Главная
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-calendar"></i>Расписание</a></li>
        </ol>
    </section>


    <!-- content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <ul id="office_tabs" class="nav nav-tabs" data-tabs="tabs">
                    {% for office in offices %}
                        {% if office.id == activeOfficeId %}
                            <li class="active"><a href="#" data-toggle="tab" class="office_link" office-id="{{ office.id }}">{{ office.name }}</a></li>
                        {% else %}
                            <li><a href="#" data-toggle="tab" class="office_link" office-id="{{ office.id }}">{{ office.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <!-- THE CALENDAR -->
                        {% for office in offices %}
                            {% if office.id == activeOfficeId %}
                                <div id="calendar{{ office.id }}"></div>
                            {% else %}
                                <div id="calendar{{ office.id }}" class="hidden"></div>
                            {% endif  %}
                        {% endfor %}
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->

    <script>
        $(function () {
            var officeIds = [];
            {% for office in offices %}
            officeIds.push({{ office.id }});
            $('#calendar{{ office.id }}').fullCalendar({
                header: {
                    left:   'prev,next today',
                    center: 'title',
                    right:  'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'сегодня',
                    month: 'месяц',
                    week:  'неделя',
                    day:   'день'
                },
                businessHours: {
                    start: '08:00',
                    end:   '20:00',
                    dow:   [0, 1, 2, 3, 4, 5, 6]
                },
                monthNames:['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                monthNamesShort:['Янв.','Фев.','Мрт.','Апр.','Май','Июн','Июл','Авг.','Сен.','Окт.','Нбр.','Дек.'],
                dayNames: ['Воскресенье','Понедельник','Вторник','Среда','Чеверг','Пятница','Суббота'],
                dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                timeFormat: 'H:mm',
                axisFormat: 'H:mm',
                firstHour: 8,
                allDaySlot: false,
                slotDuration: '00:30:01',
                defaultView: 'agendaWeek',
                firstDay: 1,
                minTime: "07:00:00",
                maxTime: "21:00:00",
               // lang: 'ru',
                events: '{{ url('backendoffice_appointment_get_app') }}?office_id={{ office.id }}',
                //Random default events
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar !!!
                eventClick: function(calEvent, jsEvent, view) {
                    jQuery.base.send('{{ url('backendoffice_appointment_pre_app') }}?appId='+calEvent.id, {}, function(response){
                        var modal = jQuery.base.getModal();
                        modal.empty();
                        modal.append(response);
                        modal.modal();
                    });
                },
                dayClick: function(date, jsEvent, view) {
                    console.log(date);
                    var data = {
                        officeId:{{ office.id}},
                        date: date.format("DD/MM/YYYY"),
                        time: date.format("HH:mm")
                    };
                    jQuery.base.send('{{ url('backendoffice_appointment_get_form') }}', data, function(response){
                        var modal = jQuery.base.getModal();
                        modal.empty();
                        modal.append(response);
                        modal.modal();
                    })
                }

            });
            {% endfor %}

            $('.office_link').click(function(){
                var officeId = $(this).attr('office-id');
                var calendarId = null;
                for (var i=0; i<officeIds.length; i++ ) {
                    calendarId = '#calendar' + officeIds[i];
                    if (officeIds[i] == officeId) {
                        $(calendarId).show();
                        $(calendarId).removeClass('hidden');
                        $(calendarId).fullCalendar('render');
                    } else {
                        $(calendarId).hide();
                    }
                }
            });
        });

    </script>

{% endblock %}