<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Оформить</h4>
        </div>

        <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>Телефон:</td>
                    <td>{{ appointment.client.msisdn }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-user"></i></td>
                    <td>Имя:</td>
                    <td>{{ appointment.client.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-plus-square"></i></td>
                    <td>Услуга:</td>
                    <td>{{ appointment.service.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrow-right"></i></td>
                    <td>Источник:</td>
                    <td>{{ appointment.client.clientDirection.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-building"></i></td>
                    <td>Офис:</td>
                    <td>{{ appointment.office.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i></td>
                    <td>Дата:</td>
                    <td>{{ appointment.dateTime|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o"></i></td>
                    <td>Время:</td>
                    <td>{{ appointment.dateTime|date('H:i') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-hourglass-1"></i></td>
                    <td>Прием:</td>
                    <td>{{ appointment.duration }} мин.</td>
                </tr>

                <tr>
                    <td><i class="fa fa-file-text-o"></i></td>
                    <td>Заметка:</td>
                    <td>{{ appointment.description }}</td>
                </tr>

            </table>


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="editButton">Редактировать</button>
            <a href="{{ url('backendoffice_person', {"clientId":appointment.client.id}) }}" class="btn btn-success" id="orderButton">Оформить</a>
        </div>
    </div>
</div>
<script>
    $(function () {
       $('#editButton').click(function(){
           var modal = jQuery.base.getModal();
           jQuery.base.send('{{ url('backendoffice_appointment_get_form', {'appId':appointment.id}) }}', {}, function(response){
               modal.empty();
               modal.append(response);
               modal.modal();

           });
       });


    });
</script>