<!-- Modal -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Запись на прием</h4>
            </div>
            <div class="modal-body">
                {% if model.isDefinite() %}
                <ul class="list-group" style="text-align: center">
                    <li class="list-group-item list-group-item-info">
                        {% if model.doctorId is not empty %}
                        <i class="fa fa-user-md icon20"> </i> {{ model.getDoctorName() }} &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        {% if model.officeId is not empty %}
                        <i class="fa fa-building icon20"></i> {{ model.getOfficeName() }} &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        {% if model.date is not empty %}
                        <i class="fa fa-calendar icon20"></i> {{ model.date }}  &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        {% if model.time is not empty %}
                        <i class="fa fa-clock-o icon20"> </i> {{ model.time }}
                        {% endif %}

                    </li>
                </ul>
                {% endif %}
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputMsisdn" class="col-sm-3 control-label">Телефон:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><strong class="icon20">+{{ model.prefix }}</strong></div>

                                <input type="text" class="form-control" id="msisdn" data-mask=""
                                       data-inputmask="'mask': '999-999-99-99'" placeholder="067-359-42-88"
                                       value="{{ model.msisdn }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">Имя:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-credit-card icon20"> </i>
                                </div>
                                <input type="text" class="form-control" id="clientName"
                                       placeholder="Имя Клиента" value="{{ model.clientName }}"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectGender" class="col-sm-3 control-label">Пол:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-venus-mars icon20"></i>
                                </div>
                                <select class="form-control" id="gender" name="gender" title="gender">
                                        {% if "female" == model.gender %}
                                            <option selected value="female">Женский</option>
                                            <option value="male">Мужской</option>
                                        {% else %}
                                            <option value="female">Женский</option>
                                            <option selected value="male">Мужской</option>
                                        {% endif %}
                                </select>
                            </div>

                        </div>
                    </div>



                    <div class="form-group">
                        <label for="selectServiceId" class="col-sm-3 control-label">Услуга:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-star icon20"></i>
                                </div>
                                <select class="form-control" id="serviceId" name="serviceId" title="service">
                                    {% for service in model.services %}
                                        {% if service.id == model.serviceId %}
                                            <option selected value="{{ service.id }}">{{ service.name }}</option>
                                        {% else %}
                                            <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>


                    {% if model.officeId is empty %}
                    <div class="form-group">
                        <label for="selectOfficeId" class="col-sm-3 control-label">Офис:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-building icon20"></i>
                                </div>
                                <select class="form-control" id="officeId" name="officeId" title="office">
                                    {% for office in model.offices %}
                                        {% if office.id == officeId|default(0) %}
                                            <option selected value="{{ office.id }}">{{ office.name }}</option>
                                        {% else %}
                                            <option value="{{ office.id }}">{{ office.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    {% else %}
                    <input type="hidden" id="officeId" value="{{ model.officeId }}">
                    {% endif %}

                    <div class="form-group">
                        <label for="inputDate" class="col-sm-3 control-label">Прием:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-hourglass-1 icon20"></i>
                                </div>
                                <select class="form-control" id="duration" name="duration" title="duration">
                                    {% for i in [15,20,30,45,60] %}
                                        {% if i == model.duration %}
                                            <option selected value="{{ i }}">{{ i }} мин.</option>
                                        {% else %}
                                            <option 
					    {% if i == 20 %}
						selected
					    {% endif %}
					    value="{{ i }}">{{ i }} мин.</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if model.date is null %}
                    <div class="form-group">
                        <label for="inputDate" class="col-sm-3 control-label">Дата:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar icon20"></i>
                                </div>
                                <input id="date" class="form-control pull-right active" type="text"
                                       data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="{{ "now"|date("d/m/Y") }}"
                                       value="{{ date|default( "now"|date("d/m/Y") ) }}"
                                />
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <input type="hidden" id="date" value="{{ model.date }}">
                    {% endif %}

                    {% if model.time is null %}
                    <div class="form-group">
                        <label for="inputTime" class="col-sm-3 control-label">Время:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o icon20"></i>
                                </div>
                                <input id="time" class="form-control pull-right active" type="text" data-inputmask="'alias': 'hh/mm'"
                                       data-mask placeholder="{{ "now"|date("H:i") }}"
                                       value="{{ time|default("now"|date("H:i")) }}" />
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <input type="hidden" id="time" name="time" value="{{ model.time }}">
                    {% endif %}

                    {% if model.doctorId is empty %}
                    <div class="form-group">
                        <label for="selectDoctorId" class="col-sm-3 control-label">Сотрудник:</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user-md icon20"></i>
                                </div>
                                <select class="form-control" id="doctorId" id="doctorId" title="doctor" >
                                    {% for doctor in model.doctors %}
                                        <option
                                            {% if doctor.id == model.doctorId %}
                                                 selected
                                            {% endif %}
                                             {% if model.availableDoctors[doctor.id] is not defined %}
                                                 style="color:#D72523"
                                             {% endif %}
                                        value="{{ doctor.id }}">{{ doctor.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <input type="hidden" id="doctorId" value="{{ model.doctorId }}">
                    {% endif %}
                    <div class="form-group">
                        <label for="inputForwarder" class="col-sm-3 control-label">Направил:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-hand-o-right icon20"></i></div>
                                <input id="forwarder" class="form-control pull-right active" type="text"
                                       placeholder="Врач направивший клиента"
                                       value="{{ model.forwarder }}" />
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="flyer" id="flyer" value="1">
                                    Направление
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBold" class="col-sm-3 control-label">Выделить:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input id="bold" class="" type="checkbox"
                                            {% if model.bold  %} checked {% endif %}
                                           value="1" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="textareaDescription" class="col-sm-3 control-label">Заметка:</label>

                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3"
                                      id="description" name="description" title="description">{{ model.description }}</textarea>
                        </div>
                    </div>

                    <input type="hidden" id="appId"       value="{{ model.appId }}">
                    <input type="hidden" id="clientId"    value="{{ model.clientId }}">
                    <input type="hidden" id="directionId" value="{{ model.directionId }}">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveButton">Сохранить</button>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        var form = BackOffice.AppForm;
        form.createUrl = "{{ url('api_app_create')   }}";
        form.updateUrl = "{{ url('api_app_update')   }}";
        form.clientUrl = "{{ url('api_client_find')   }}";
        form.pattern   = "{{ country.pattern }}";
        form.length    = {{ country.length }};
        form.prefix    = "{{ country.prefix }}";
        form.init({{ model.appId }});
    });
</script>
