<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Запись на прием № {{ appointment.id }}</h4>
        </div>

        <div class="modal-body">
            {% if appointment.state == 3 %}
                <div class="callout callout-info">
                {% for appReason in appointment.getAppointmentReasons() %}
                        <strong>({{ appReason.getCreated()|date('d/m/Y') }} - {{ appReason.getReason().getName() }})</strong> - Запись была закрыта пользователем "{{ app.user.getName() }}" <strong></strong>
                {% endfor %}
                </div>
            {% endif %}
            <table class="table table-striped">
                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>Телефон:</td>
                    <td> <a href="{{ url("bf_person", {"clientId":appointment.client.id }) }}">
                        {{ appointment.client.msisdn|default('') }}</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-credit-card"></i></td>
                    <td>Имя:</td>
                    <td>{{ appointment.client.name|default('') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star"></i></td>
                    <td>Услуга:</td>
                    <td>{{ appointment.service.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrow-right"></i></td>
                    <td>Источник:</td>
                    <td>{{ appointment.client.clientDirection.name|default('') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-building"></i></td>
                    <td>Офис:</td>
                    <td>{{ appointment.office.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i></td>
                    <td>Дата:</td>
                    <td>{{ appointment.dateTime|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o"></i></td>
                    <td>Время:</td>
                    <td>{{ appointment.dateTime|date('H:i') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-hourglass-1"></i></td>
                    <td>Прием:</td>
                    <td>{{ appointment.duration }} мин.</td>
                </tr>
                <tr>
                    <td><i class="fa fa-user-md"></i></td>
                    <td>Сотрудник:</td>
                    <td>{{ appointment.user.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-hand-o-right"></i></td>
                    <td>Направил:</td>
                    <td>{{ appointment.forwarder }}</td>
                </tr>

                <tr>
                    <td><i class="fa fa-file-text-o"></i></td>
                    <td>Заметка:</td>
                    <td>{{ appointment.description }}</td>
                </tr>

            </table>


        </div>

        <div class="modal-footer">
            {% if (appointment.state == 1) or (appointment.state == 2) %}
            <button type="button" class="btn btn-danger" id="reasonButton">Закрыть по причине</button>
            <button type="button" class="btn btn-primary" id="editButton">Перенести</button>
            <button type="button" class="btn btn-success" id="orderButton">Оформить</button>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#editButton').click(function(){
           BackOffice.Modal.load('{{ url('bf_app_reschedule', {'appId':appointment.id}) }}', {});
       });
        $('#orderButton').click(function(){
            BackOffice.Modal.load('{{ url('bf_app_order_process') }}', {appId:{{ appointment.id }}, isNew:true});
        });
        $('#reasonButton').click(function(){
            BackOffice.Modal.load('{{ url('bf_app_close_reason', {'appId':appointment.id}) }}', {appId:{{ appointment.id }}});
        });

    });
</script>