<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Запись на прием № {{ appointment.id }}</h4>
        </div>

        <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>Телефон:</td>
                    <td>{{ appointment.client.msisdn|default('') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-credit-card"></i></td>
                    <td>Имя:</td>
                    <td>{{ appointment.client.name|default('') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-star"></i></td>
                    <td>Услуга:</td>
                    <td>{{ appointment.service.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrow-right"></i></td>
                    <td>Источник:</td>
                    <td>{{ appointment.client.clientDirection.name|default('') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-building"></i></td>
                    <td>Офис:</td>
                    <td>{{ appointment.office.name }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-calendar"></i></td>
                    <td>Дата:</td>
                    <td>{{ appointment.dateTime|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-clock-o"></i></td>
                    <td>Время:</td>
                    <td>{{ appointment.dateTime|date('H:i') }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-hourglass-1"></i></td>
                    <td>Прием:</td>
                    <td>{{ appointment.duration }} мин.</td>
                </tr>
                <tr>
                    <td><i class="fa fa-user-md"></i></td>
                    <td>Сотрудник:</td>
                    <td>{{ appointment.user.name }}</td>
                </tr>

                <tr>
                    <td><i class="fa fa-file-text-o"></i></td>
                    <td>Заметка:</td>
                    <td>{{ appointment.description }}</td>
                </tr>

            </table>


        </div>

        <div class="modal-footer">
            {% if (appointment.state == 1) or (appointment.state == 2) %}
            <button type="button" class="btn btn-primary" id="editButton">Перенести</button>
            <button type="button" class="btn btn-success" id="orderButton">Оформить</button>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(function () {
       $('#editButton').click(function(){
           BackOffice.Modal.load('{{ url('bf_app_reschedule', {'appId':appointment.id}) }}', {});
       });
        $('#orderButton').click(function(){
            BackOffice.Modal.load('{{ url('bf_app_order_process') }}', {appId:{{ appointment.id }}, isNew:true});
        })

    });
</script>