{% extends 'OrtofitSingUpBundle:SingUp:layout.html.twig' %}
{% block body %}
    <script>
        $(document).ready(function() {
            jQuery.singObj.init('{{ path(routeId) }}', '{{ pattern }}', '{{ prefix }}', '{{ sing_up_token_name }}', {{ appId }});
        });
    </script>
    <div class="formDiv">
        <form class="form-inline" id="singForm" action="{{ path(routeId) }}" method="post">
            <p class="help-block">Оставьте ваш номер телефона и наш менеджер свяжется с вами в ближайшее время.</p>
            <!-- has-success has-error//-->

            <div class="form-group" id="formGroup">

                <div class="input-group ">

                    <div class="input-group-addon input-lg">+{{ prefix }}</div>
                    <input id="msisdn" class="form-control input-lg" type="text" placeholder="0676982099" maxlength="10">
                </div>
            </div>
            <input type="submit" id="singUpSubmit" class="btn-lg btn-primary" value="Записаться" />
            <div class="bottomDiv">
                <div class="process hidden" id="processBlock"><img src="{{ asset('bundles/ortofitsingup/img/process.gif') }}" /></div>
                <div class="text-danger hidden" id="errText">Вы ввели не корректный номер, проверте и попробуйте снова.</div>
                <div class="text-success hidden" id="successText">Спасибо, ваша заявка принята!</div>
            </div>
        </form>
    </div>
{% endblock %}
