<!-- Modal -->
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Оказанные услуги</h4>
        </div>
        <div class="modal-body">
            {% include "@OrtofitBackOfficeFront/AppOrder/panel.html.twig" %}
            <div class="row">
            <form class="form-horizontal" id="serviceForm">
                <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="3">Оказанные услуги:</th>
                        </tr>
                    </thead>
                {% for service in services %}
                    <tr class="tr-service">
                        <td>
                            <i class="fa fa-star-o icon20"> </i></td>
                        <td>
                            <input type="checkbox" id="service_{{ service.id }}" name="service_{{ service.id }}"
                                   value="{{ service.id }}" title="{{ service.name }}" class="chb-service"
                            
                            />
                        </td>
                        <td>{{ service.name }}</td>
                    </tr>

            {% endfor %}
                </table>
                </div>
                <div class="col-sm-6" style="padding-left: 0;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th colspan="3">Другое:</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><i class="fa fa-bell-o icon20"></i></td>
                        <td>Повтор</td>
                        <td><input id="remind" name="remind" class="form-control pull-right active" type="text"
                                   data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="{{ "now"|date("d/m/Y") }}"
                                   value="" /></td>
                    </tr>
                    <tr id="remindNotice"  class="hidden">
                        <td colspan="3" style="color: red; text-align: center;">Введите корректно дату</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <textarea rows="6" id="description" name="description" class="form-control" placeholder="Комментарий к напоминанию" ></textarea>
                        </td>
                    </tr>

                </table>
                </div>

                <input type="hidden" id="appId"    name="appId"    value="{{ app.id }}">
                <input type="hidden" id="personId" name="personId" value="{{ person.id }}">

            </form>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="nextButton">Оформить</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var control = BackOffice.OrderServicePerson;
        control.postUrl = "{{ url('bf_app_order_process') }}";
        control.appId   = {{ app.id }};
        control.init();
    });
</script>