<!-- Modal -->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Диагноз</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3 text-center">
                    <img class="profile-user-img img-responsive img-circle" alt="user image"
                            {% if person.familyStatus.alias == 'self' %}
                                {% if client.getGender() == 'male' %}
                                    src="{{ '../bundles/ortofitbackoffice/dist/img/avatar5.png' }}"
                                {% else %}
                                    src="{{ '../bundles/ortofitbackoffice/dist/img/avatar3.png' }}"
                                {% endif %}
                            {% else %}
                                src="{{ '../bundles/ortofitbackoffice/dist/img/avatar-' ~ person.familyStatus.alias ~ '.png' }}"
                            {% endif %}
                    >
                    <span class="username"> <a href="#">{{ person.name }} </a></span>
                    <span class="description"> ({{ person.getAge() }} лет)</span>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="8" id="description">{{ diagnosis.description|default('') }}</textarea>
                    </div>
                </div>
                <input type="hidden" id="id" value="{{ diagnosis.id|default('') }}">
                <input type="hidden" id="personId" value="{{ person.id }}">

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id="saveButton">Сохранить</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var diagnosis = BackOffice.Diagnosis;
        diagnosis.createUrl = '{{ url('api_diagnosis_create') }}';
        diagnosis.updateUrl = '{{ url('api_diagnosis_update') }}';
        diagnosis.init({{ diagnosis.id|default('false') }});
    });
</script>