{% extends 'OrtofitBackOfficeBundle:Layout:layout.html.twig' %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Клиент
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('backendoffice_appointment_clients') }}"><i class="fa fa-users"></i>Список клиентов</a>
            </li>
            <li class="active">Клиент</li>
        </ol>
    </section>
    <!-- content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" alt="User profile picture"
                        {% if client.getGender() == 'male' %}
                             src="{{ '../bundles/ortofitbackoffice/dist/img/avatar5.png' }}"
                        {% else %}
                            src="{{ '../bundles/ortofitbackoffice/dist/img/avatar3.png' }}"
                        {% endif %}
                        >
                        <h3 class="profile-username text-center">{{ client.name }}</h3>
                        <p class="text-muted text-center">{{ client.msisdn }}</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Клиент с:</b>
                                <span class="pull-right">{{ client.created.format('d/m/Y') }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Членов семьи:</b>
                                <span class="pull-right">{{ client.persons.count() }}</span>
                            </li>
                            <li class="list-group-item">
                                <b>Последний визит:</b>
                                <span class="pull-right">{{ lastApp.created.format('d/m/Y')|default('-') }}</span>
                            </li>

                        </ul>
                        <div class="text-center">
                            <button id="newPerson" class="btn btn-primary" type="button"><i class="fa fa-user-plus"></i> <span>Член семьи</span></button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">{% set activeClass = 'active' %}
                        {% for person in client.persons %}
                            <li class="{{ activeClass }}"><a data-toggle="tab" href="#{{ person.familyStatus.alias ~ person.id }}">{{ person.name }}</a></li>
                            {% set activeClass = '' %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">

                        {% set activeClass = 'active' %}
                        {% for person in client.persons %}
                            <div id="{{ person.familyStatus.alias ~ person.id }}" class="tab-pane {{ activeClass }}">
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" alt="user image"
                                        {% if person.familyStatus.alias == 'self' %}
                                            {% if client.getGender() == 'male' %}
                                                src="{{ '../bundles/ortofitbackoffice/dist/img/avatar5.png' }}"
                                        {% else %}
                                                src="{{ '../bundles/ortofitbackoffice/dist/img/avatar3.png' }}"
                                        {% endif %}
                                        {% else %}
                                                src="{{ '../bundles/ortofitbackoffice/dist/img/avatar-' ~ person.familyStatus.alias ~ '.png' }}"
                                        {% endif %}
                                        >
                                        <span class="username"> <a href="#">{{ person.name }} </a></span>
                                        <span class="description">{{ person.familyStatus.name }} ({{ person.getAge() }} лет)</span>
                                    </div>
                                    <button class="btn btn-primary person-diagnosis" person-id="{{ person.id }}" type="button"><i class="fa fa-plus"></i> <span>Диагноз</span></button>
                                    <button class="btn btn-primary person-edit" person-id="{{ person.id }}" type="button"><i class="fa fa-pencil"></i> <span>Редактировать</span></button>
                                    <h5><strong>Диагноз:</strong></h5>
                                    {% for diagnosis in person.diagnoses %}
                                        <p>
                                            <hr>
                                            <i><strong>{{ diagnosis.created|date('d/m/Y') }}</strong></i> <a href="#" class="diagnosis" person-id="{{ person.id }}" id="{{ diagnosis.id}}"><i class="fa fa-pencil"></i></a>
                                            <br> {{ diagnosis.description }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% set activeClass = '' %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#newPerson').click(function (e) {
                jQuery.base.send('{{ url('backendoffice_person_form') }}', {clientId:{{ client.id }} }, function (response) {
                    var modal = jQuery.base.getModal();
                    modal.empty();
                    modal.append(response);
                    modal.modal();
                })
            });
            $('.person-edit').click(function () {
                var personId = $(this).attr('person-id');
                jQuery.base.send('{{ url('backendoffice_person_form') }}', {id: personId, clientId:{{ client.id }} }, function (response) {
                    var modal = jQuery.base.getModal();
                    modal.empty();
                    modal.append(response);
                    modal.modal();
                })
            });
            $('.person-diagnosis').click(function () {
                var personId = $(this).attr('person-id');
                jQuery.base.send('{{ url('backendoffice_diagnosis_form') }}', {personId: personId }, function (response) {
                    var modal = jQuery.base.getModal();
                    modal.empty();
                    modal.append(response);
                    modal.modal();
                })
            });

            $('.diagnosis').click(function() {
                var diagnosisId = $(this).attr('id');
                var personId = $(this).attr('person-id');
                jQuery.base.send('{{ url('backendoffice_diagnosis_form') }}', {id: diagnosisId, personId: personId }, function (response) {
                    var modal = jQuery.base.getModal();
                    modal.empty();
                    modal.append(response);
                    modal.modal();
                })
            });

        });
    </script>
{% endblock %}