<!-- Modal -->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Услуги оказываются:</h4>
        </div>
        <div class="modal-body" style="text-align: center">
            {% include "@OrtofitBackOfficeFront/Order/panel.html.twig" %}
            <table class="table table-striped">
                <tr>
                    <td>Самому клиенту</td>
                    <td><i class="fa fa-credit-card"></i></td>
                    <td>{{ app.client.name }}</td>
                    <td><button type="button" class="btn btn-success" id="clientButton"> <i class="fa  fa-arrow-right"></i> </button></td>
                </tr>
                <tr>
                    <td>Члену семьи</td>
                    <td>
                        <i class="fa fa-users"></i>
                    </td>
                    <td>
                        <select class="form-control" id="personId" style="width: 300px">
                            <option value="0" selected disabled>Выберите члена семьи</option>
                            {% for person in app.client.persons %}
                                <option value="{{ person.id }}">{{ person.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="button" class="btn btn-block" id="personButton"> <i class="fa  fa-arrow-right"></i></button></td>
                </tr>
                <tr>
                    <td>Новому члену семьи</td>
                    <td><i class="fa fa-user-plus"></i></td>
                    <td>Когда нет в списке выше</td>
                    <td>
                        <button type="button" class="btn btn-success" id="newPersonButton"><i class="fa fa-user-plus"></i></button>
                    </td>
                </tr>

            </table>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var contrl = BackOffice.OrderChoosePerson;
        contrl.postUrl = "{{ url('backoffice_order_process') }}";
        contrl.appId   = {{ app.id }};
        contrl.init();


    });
</script>