{% extends 'OrtofitBackOfficeFrontBundle:Layout:layout.html.twig' %}
{% block style %}
    {{ parent() }}

{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            var reportCtn = BackOffice.ReportForwarder;
            reportCtn.postUrl = "{{ url('api_report_forwarder') }}";
            reportCtn.defaultDate = '{{ "now"|date('Y-m-d') }}';
            reportCtn.init();
        });
    </script>

    {% javascripts
    '@OrtofitBackOfficeFrontBundle/Resources/public/js/Helper/ReportForwarderHelper.js'
    '@OrtofitBackOfficeFrontBundle/Resources/public/js/ReportForwarder.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>

    {% endjavascripts %}
{% endblock %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Расчеты
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('bf_report_index') }}"><i class="fa fa-money"></i>Расчет</a></li>
        </ol>
    </section>
    <!-- content -->
    <section class="invoice">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">

                <form class="form-inline" id="reportForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputDateFrom">период с:</label>
                            <input type="text" class="form-control input-sm iDate" id="dateFrom" value="">

                        </div>
                        <div class="form-group">
                            <label for="inputDateTo">по:</label>
                            <input type="text" class="form-control input-sm iDate" id="dateTo" value="">

                        </div>
                        <div class="form-group">&nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-primary" id="reportBtn">Итоги</button>

                        </div>
                        <div id="formErrorText" class="help-block" style="color: red; display: none"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 table-responsive" style="display:table; height: 100%" id="reportList">
            <div class="error-page" style="display: none" id="errorDiv">
                <div class="error-content">
                    <h3>
                        <i class="fa fa-warning text-red"></i>
                        Техническая ошибка!
                    </h3>
                </div>
            </div>

        </div>
    </div>

{% endblock %}