
{% extends 'OrtofitBackOfficeFrontBundle:Layout:layout.html.twig' %}
{% block style %}
    {{ parent() }}
    {#<link href="{{ '../bundles/ortofitbackofficefront/plugins/morris/morris.css' }}" rel="stylesheet" type="text/css" />#}
{% endblock %}
{% block js %}
    {{ parent() }}
    {% javascripts
    '@OrtofitBackOfficeFrontBundle/Resources/public/plugins/datepicker/bootstrap-datepicker.js'
    '@OrtofitBackOfficeFrontBundle/Resources/public/plugins/datepicker/locales/bootstrap-datepicker.ru.js'
    '@OrtofitBackOfficeFrontBundle/Resources/public/js/Helper/ReportHelper.js'
    '@OrtofitBackOfficeFrontBundle/Resources/public/js/Report.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    <script>
        $(function () {
            BackOffice.OfficeTab.init();
            var ctn = BackOffice.Report;
            ctn.defaultDate = '{{ "now"|date('Y-m-d') }}';
            ctn.init();
        });
//            var n = new Date();
//            $('.iDate').datepicker({
//                todayHighlight: true,
//                language: 'ru',
//                format: 'yyyy-mm-dd',
//                defaultDate: n.getFullYear() + '-' + n.getMonth()+'-'+n.getDate()
//            });

//            var dateStr = n.getFullYear() + '-' + n.getMonth()+'-'+n.getDate();
//            console.log(dateStr);
//            $('.iDate').val(dateStr);


    </script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Итоги
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('bf_report_index') }}"><i class="fa fa-book"></i>Итоги</a></li>
        </ol>
    </section>
    <!-- content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="nav-tabs">
                    <ul id="office_tabs" class="nav nav-tabs" data-tabs="tabs">
                        {% for office in offices %}
                            <li id="officeTab{{ office.id }}">
                                <a href="#" data-toggle="tab" class="office_link" office-id="{{ office.id }}">
                                    {{ office.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box box-info">

                    <form class="form-inline">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputDateFrom">период с:</label>
                                <input type="text" class="form-control input-sm iDate" id="dateFrom" value="01/01/1980">
                            </div>
                            <div class="form-group">
                                <label for="inputDateTo">по:</label>
                                <input type="text" class="form-control input-sm iDate" id="dateTo" value="2016-11-09">
                            </div>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-primary" id="reportBtn">Итоги</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>
{% endblock %}