
{% extends 'OrtofitBackOfficeFrontBundle:Layout:layout.html.twig' %}
{% block style %}
    {{ parent() }}
    {#<link href="{{ '../bundles/ortofitbackofficefront/plugins/morris/morris.css' }}" rel="stylesheet" type="text/css" />#}
{% endblock %}
{% block js %}
    {{ parent() }}
    {% javascripts
    '@OrtofitBackOfficeFrontBundle/Resources/public/plugins/datepicker/bootstrap-datepicker.js'
    '@OrtofitBackOfficeFrontBundle/Resources/public/plugins/datepicker/locales/bootstrap-datepicker.ru.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                var calendar = BackOffice.Calendar;
                var officeId = calendar.getOfficeId();
                $('#officeTab'+officeId).addClass('active');

            });

            $('.iDate').datepicker({
//                isRTL: false,
                autoclose: true,
                todayHighlight: true,
                language: 'ru',
                format: 'yyyy-mm-dd',
                setDate: new Date()
            });

        });
    </script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Итоги
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('bf_report_index') }}"><i class="fa fa-book"></i>Итоги</a></li>
        </ol>
    </section>
    <!-- content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="nav-tabs">
                <ul id="office_tabs" class="nav nav-tabs" data-tabs="tabs">
                    {% for office in offices %}
                        <li id="officeTab{{ office.id }}"><a href="#" data-toggle="tab" class="office_link" office-id="{{ office.id }}">{{ office.name }}</a></li>
                    {% endfor %}
                </ul>
                </div>
                <div class="box box-info">

                        <form class="form-inline">
                            <div class="box-body">
                            <div class="form-group">
                                <label for="inputDateFrom">период с:</label>
                                 <input type="date" class="form-control input-sm iDate"  id="dateFrom" >
                            </div>
                            <div class="form-group">
                                <label for="inputDateTo">по:</label>
                                    <input type="date" class="form-control input-sm iDate" id="dateTo">
                            </div>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-primary" id="saveButton">Итог</button>
                            </div>
                        </form>


                </div>
            </div>


        </div>
    </section>
{% endblock %}